:root {
    --label-column-width: 70px;
    --num-entity-columns: 3;
    --pfp-size: 20px;
    --pfp-right-margin: 4px;
    --app-header-padding: 5px 10px 0px 10px;
    --header-gap-between-rows: 7px;
    --gap-between-hamburger-and-month-name: 20px;
    --gap-between-month-name-and-arrow: 3px;
    --arrow-size: 10px;
    --text-color-primary: rgb(249, 249, 249);
    --text-color-secondary: rgb(214, 214, 214);
    --header-background-color: #363638;
    --grid-line-color: #333638;
    --body-background-color: #262628; /* manually copied from index.css */
    --font-size-calendar-module-day-numbers: 12px;
    --active-day-circle-diameter-calendar: 24px;
    --font-size-day-of-week-entity-label-header: 10px;
    --font-size-day-number-entity-label-header: 15px;
}

* {
    color: var(--text-color-primary);
}

/* Header */
.header {
    position: sticky;
    top: 0;
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: column;
    gap: var(--header-gap-between-rows);
}

.appHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--app-header-padding);
}

.appHeaderLeft {
    display: flex;
    gap: var(--gap-between-hamburger-and-month-name);
    align-items: center;
}

.hamburger {
    width: 24px;
    gap: 3px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger > div {
    width: 100%;
    height: 2px;
    background: var(--text-color-primary);
}

.monthArrow {
    display: flex;
    gap: var(--gap-between-month-name-and-arrow);
    align-items: center;
}

.arrow {
    height: var(--arrow-size);
    width: var(--arrow-size);
    transform: rotate(90deg);
    transition: transform 0.2s ease;
}

.arrowExpanded {
    transform: rotate(-90deg);
    transition: transform 0.2s ease;
}

.arrow polygon {
    fill: var(--text-color-primary);
}

.pfp {
    height: var(--pfp-size);
    width: var(--pfp-size);
    border-radius: 50%;
    margin-right: var(--pfp-right-margin);
}

.entityLabelRowExpanded {
    background-color: var(--body-background-color);
    padding-top: 8px;
}

.dayHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-bottom: 10px;
}

.dayHeaderWeekDay {
    color: var(--text-color-secondary);
    font-size: var(--font-size-day-of-week-entity-label-header);
}

.dayHeaderDay {
    font-size: var(--font-size-day-number-entity-label-header);
}

/* calendar in header */
.calendarHeader {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 6px;
}
.calendarDayLabelRow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendarDaysGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 30px;
}

.calendarDayLabelCell,
.calendarDaysGridCell {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendarDayLabelCell {
    color: var(--text-color-secondary);
    font-size: 12px;
}

.calendarDaysGridCell {
    font-size: var(--font-size-calendar-module-day-numbers);
}

.activeCalendarDay {
    background-color: rgb(143, 187, 224);
    height: var(--active-day-circle-diameter-calendar);
    width: var(--active-day-circle-diameter-calendar);
    border-radius: 50%;
    color: var(--header-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Body (after header) */
.entityLabelRow,
.entityRow {
    display: grid;
    grid-template-columns: var(--label-column-width) repeat(var(--num-entity-columns), 1fr);
    /* border: solid #333638 3px; */
}

.entityRow {
    height: 200px;
}

.cell {
    border-right: 2px solid var(--grid-line-color);
    border-top: 2px solid var(--grid-line-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.row > .cell:last-child {
    border-right: none;
}