:root {
    --label-column-width: 70px;
    --num-entity-columns: 3;
    --pfp-size: 20px;
    --pfp-right-margin: 4px;
    --app-header-padding: 10px 10px 0px 10px;
    --header-gap-between-rows: 7px;
    --gap-between-hamburger-and-month-name: 20px;
    --gap-between-month-name-and-arrow: 3px;
    --arrow-size: 10px;
    --text-color: rgb(249, 249, 249);
    --header-background-color: #363638;
    --grid-line-color: #333638;
}

* {
    color: var(--text-color);
}

/* Header */
.header {
    position: sticky;
    top: 0;
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: column;
    gap: var(--header-gap-between-rows);
}

.appHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--app-header-padding);
}

.appHeaderLeft {
    display: flex;
    gap: var(--gap-between-hamburger-and-month-name);
    align-items: center;
}

.hamburger {
    width: 24px;
    gap: 3px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger > div {
    width: 100%;
    height: 2px;
    background: var(--text-color);
}

.monthArrow {
    display: flex;
    gap: var(--gap-between-month-name-and-arrow);
    align-items: center;
}

.arrow {
    height: var(--arrow-size);
    width: var(--arrow-size);
    transform: rotate(90deg);
    transition: transform 0.2s ease;
}

.arrowExpanded {
    transform: rotate(-90deg);
    transition: transform 0.2s ease;
}

.arrow polygon {
    fill: var(--text-color);
}

.pfp {
    height: var(--pfp-size);
    width: var(--pfp-size);
    border-radius: 50%;
    margin-right: var(--pfp-right-margin);
    background: yellow;
}

.entityLabelHeader {
    display: flex;
}

/* calendar in header */
.calendarDayLabelRow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendarDayLabelCell {
    display: flex;
    justify-content: center;
}
.calendarDaysGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendarDaysGridCell {
    display: flex;
    justify-content: center;
}

/* Body (after header) */
.entityLabelRow,
.entityRow {
    display: grid;
    grid-template-columns: var(--label-column-width) repeat(var(--num-entity-columns), 1fr);
    /* border: solid #333638 3px; */
}

.entityRow {
    height: 200px;
}

.cell {
    border-right: 2px solid var(--grid-line-color);
    border-top: 2px solid var(--grid-line-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.row > .cell:last-child {
    border-right: none;
}