/* calendar in header */
.monthPanel {
    flex: 0 0 100%;
}
.calendarHeader {
    display: flex;
    flex-direction: column;
    gap: var(--calendar-gap-header-body);
    margin-top: var(--calendar-header-top-margin);
}
.calendarDayLabelRow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: var(--calendar-header-height);
}

.calendarDaysGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: var(--calendar-row-height);
}

.calendarDayLabelCell,
.calendarDaysGridCell {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendarDayLabelCell {
    color: var(--text-color-secondary);
    font-size: 12px;
}

.calendarDaysGridCell {
    font-size: var(--font-size-calendar-module-day-numbers);
}

.highlightedCalendarDay {
    background-color: rgb(143, 187, 224);
    height: var(--active-day-circle-diameter-calendar);
    width: var(--active-day-circle-diameter-calendar);
    border-radius: 50%;
    color: var(--header-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}