:root {
  --horizontal-padding-post-form: 12px;
  --top-padding-post-form: 6px;
  --vertical-padding-title-row: 10px;
  --vertical-padding-field-row: 12px;
  --icon-size: 25px;
  --icon-y-offset: -2px;
  --chevron-container-width: 40px;
  --chevron-color: white;
}

input, textarea, button {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

input {
  width: 100%;
}

.postFormContainer {
  padding-top: var(--top-padding-post-form);
}

.stickyHeaderPostForm {
  display: flex;
  justify-content: space-between;
  padding-left: var(--horizontal-padding-post-form);
  padding-right: var(--horizontal-padding-post-form);
}

.stickyHeaderChevronContainer {
  width: var(--chevron-container-width);
}

.stickyHeaderChevronContainer svg polyline {
  fill: none;
  stroke: var(--chevron-color);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.postForm {
  display: flex;
  flex-direction: column;
}

.titleRow, .fieldHeaderRow {
  display: flex;
  gap: 10px;
}

.titleRow {
  align-items: center;
  padding: var(--vertical-padding-title-row) var(--horizontal-padding-post-form);
}

.formRow {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--accent-color);
  padding-top: var(--vertical-padding-field-row);
  padding-bottom: var(--vertical-padding-field-row);
  /* border: 1px solid pink; */
}

.formRow:first-of-type {
  border-top: 1px solid var(--accent-color)
}

.fieldHeaderRow {
  align-items: flex-start;
  padding-left: var(--horizontal-padding-post-form);
  padding-right: var(--horizontal-padding-post-form);
}

.fieldWidgetRow {
  display: flex;
  justify-content: center;
}

.formIconContainer {
  height: var(--icon-size);
  width: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(var(--icon-y-offset));
}

.formIconContainer svg path {
  fill: white;
}

.addImageBox {
  border: 1px solid rgba(255, 255, 255, 0.14);
  height: 210px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.addImageBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.addImageBox svg {
  width: 15px;
}

.addImageBox svg path {
  fill: white;
}

.dayOfWeek {
  font-style: italic;
  color: #d0d0d0
}

.calendarField {
  display: flex;
  flex-direction: column;
}

.calendarContainer {
  width: 100%;
}

.formTextArea {
  width: 100%;
}