.threeDayContentGrid {
    display: grid;
    grid-template-columns: var(--label-column-width) minmax(0, 1fr);
}

.dayDataViewport {
    background-color: var(--body-background-color);
    overflow: hidden;
    touch-action: pan-y;
}

.dayDataTrack {
    display: flex;
    transform: translateX(-100%);
}

.dayDataTrack > * {
    flex: 0 0 calc(100%/ 3);
}