@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.woff2');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --body-background-color: #262628;
  --label-column-width: 70px;
  --num-entity-columns: 3;
  --pfp-size: 20px;
  --pfp-right-margin: 4px;
  --app-header-padding: 5px 10px 0px 10px;
  --header-gap-between-rows: 7px;
  --gap-between-hamburger-and-month-name: 20px;
  --gap-between-month-name-and-arrow: 3px;
  --arrow-size: 10px;
  --text-color-primary: rgb(249, 249, 249);
  --text-color-secondary: rgb(214, 214, 214);
  --header-background-color: #363638;
  --grid-line-color: #333638;
  --font-size-calendar-module-day-numbers: 12px;
  --active-day-circle-diameter-calendar: 24px;
  --font-size-day-of-week-entity-label-header: 10px;
  --font-size-day-number-entity-label-header: 15px;
  --calendar-header-height: 12px;
  --calendar-row-height: 30px;
  --calendar-header-top-margin: 6px;
  --calendar-gap-header-body: 4px;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--body-background-color);
  font-family: Inter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}