@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.woff2');
}

:root {
  --body-background-color: #262628;
}

body {
  background-color: var(--body-background-color);
  font-family: Inter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}